:root{
  --primary:#0d5b86;
  --primary-dark:#084a6b;
  --muted:#6c757d;
  --bg:#ffffff;
}

.login-brand{
  display: flex;
  align-items: center;

  h1{
    
    font-size: 50p;
    color: var(--primary);
    font-weight: 700;
    font-family: 'Goudy Bookletter 1911', Georgia, serif;
  }
}